/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

/* COLOR VARIABLES */
:root {
  --orange: #fda214;
  --light-orange: #ffb84a;
  --medium-grey: #bcced9;
  --medium-blue: #304859;
  --dark-blue: #152938;
  --light-grey: #f2f2f2;
  --very-light-grey: #fcfcfc;
  --soft-sea-blue: #7191a5;
  --medium-sea-blue: #6395b8;
}

/* DEFAULT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h3,
h3,
p {
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLLING */
html:focus-within {
  scroll-behavior: smooth;
}

/* MAIN LAYOUT - MOBILE FIRST VIEW */
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  height: 100vh;
}

.wrapper {
  background-color: var(--dark-blue);
  min-height: 100vh;
  padding: 0 1.5rem;
  transition: 0.3s ease-in;
  display: grid;
  place-items: center;
}

.wrapper__container {
  width: 100%;
}

.game-board {
  background-color: var(--very-light-grey);
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--very-light-grey);
  margin-bottom: 2.8125rem;
  text-align: center;
}

.game-board__section {
  width: 100%;
  margin-bottom: 1.5rem;
}

.theme_label {
  display: flex;
  gap: 0.6875rem;
}

.game-board__section input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.game-board__section-title {
  font-size: 0.9375rem;
  color: var(--soft-sea-blue);
  margin-bottom: 0.6875rem;
}

.game-board__section label {
  padding: 0.625rem 0;
  display: block;
  flex: 1;
  text-align: center;
  border-radius: 1.625rem;
  font-size: 1rem;
  color: var(--very-light-grey);
  background-color: var(--medium-grey);
  font-weight: bold;
}

.game-board__section label:hover {
  background-color: var(--medium-sea-blue);
}

.game-board__section input[type='radio']:checked + label {
  background-color: var(--medium-blue);
}

.game-board__section input[type='radio']:focus + label {
  background-color: var(--medium-blue);
}

.game-board__button {
  width: 100%;
}
.menu-button {
  width: 100%;
  border-radius: 1.625rem;
  padding: 0.865rem 0;
  background-color: var(--orange);
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--very-light-grey);
}

.menu-button:hover {
  background-color: var(--light-orange);
}

.menu-button:focus {
  background-color: var(--light-orange);
}

.menu_buttons {
  display: none;
}

/* GAME START */

.game-start {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-start__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-start__header > .title {
  font-size: 2rem;
  color: var(--dark-blue);
  font-weight: bold;
}

.game-start__header > .menu_button {
  border: none;
  font-size: 1rem;
  padding: 0.625rem 1.125rem;
  background-color: var(--orange);
  color: var(--very-light-grey);
  border-radius: 1.625rem;
}

.game-start__body {
  margin: auto;
}

/* GAME CARDS */

.number-card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 4.53rem));
  gap: 0.768rem;
  align-items: center;
  justify-content: center;
}

.number-card.c6x6 {
  gap: 0.57rem;
  grid-template-columns: repeat(6, minmax(0, 2.93rem));
}

.card {
  margin: 0;
  padding: 0;
  height: 4.53rem;
  width: 4.53rem;
  display: grid;
  place-items: center;
  border-radius: 3.75rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--very-light-grey);
  background-color: var(--dark-blue);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card:hover {
  background-color: var(--medium-sea-blue);
}

.number-card.c6x6 .card {
  height: 2.93rem;
  width: 2.93rem;
  font-size: 1.5rem;
}

.card__side {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card__back-side {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
  background-color: var(--orange);
  pointer-events: none;
}

.card.matched {
  transform: rotateY(180deg);
  background-color: var(--medium-grey);
  pointer-events: none;
}

.solo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.125rem;
}

.solo > * {
  height: 4.375rem;
  padding: 0.625rem 2.0625rem;
  width: 9.43rem;
  background-color: #dfe7ec;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 0.312rem;
}

.solo > * .title {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #7191a5;
}

.solo > * .detail {
  font-size: 2rem;
  font-weight: bold;
  color: #304859;
}

.multiplayer-scores {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.multiplayer-scores > * {
  /* height: 4.375rem; */
  /* padding: 0.625rem 0; */
  background-color: #dfe7ec;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 0.312rem;
  flex: 1;
}

.multiplayer-scores > * .title {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #7191a5;
}

.multiplayer-scores > * .detail {
  font-size: 2rem;
  font-weight: bold;
  color: #304859;
}

.desktop.title {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.player-one.active,
.player-two.active,
.player-three.active,
.player-four.active {
  background-color: var(--orange);
}

.player-one.active .multiplayer-scores__item > p,
.player-one.active .multiplayer-scores__item > div {
  color: var(--very-light-grey);
}

.player-one.active::before,
.player-two.active::before,
.player-three.active::before,
.player-four.active::before {
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  background: var(--orange);
  margin-top: -2.5rem;
}

/* RESPONSIVE DESIGN - TABLET VIEW */
@media screen and (min-width: 45em) {
  .wrapper {
    padding: 0 3.562rem;
  }

  .game-title {
    font-size: 2.5rem;
  }

  .game-start__header > .title {
    font-size: 2.5rem;
  }

  .game-board__section-title {
    font-size: 1.25rem;
  }

  .game-board__section label {
    font-size: 1.625rem;
  }

  .menu-button {
    font-size: 2rem;
    border-radius: 2.187rem;
  }

  .menu {
    display: none;
  }

  .menu_buttons {
    display: flex;
    width: 40%;
    gap: 1rem;
  }

  /* GAME CARDS */
  .number-card {
    grid-gap: 1rem;
  }
  .card {
    height: 5.125rem;
    width: 5.125rem;
    font-size: 2.75rem;
  }

  .number-card.c6x6 {
    grid-template-columns: repeat(6, minmax(0, 4rem));
  }

  .number-card.c6x6 .card {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }

  /* MULTI PLAYER SCORES */

  .multiplayer-scores {
    gap: 0.6875rem;
  }

  .multiplayer-scores__item {
    text-align: left;
    width: 100%;
    padding-left: 1rem;
  }

  .mobile.title {
    display: none;
  }

  .desktop.title {
    display: block;
  }
}

/* RESPONSIVE DESIGN - DESKTOP VIEW */
@media screen and (min-width: 70em) {
  /* GAME BOARD */
  .wrapper {
    padding: 0 24.56rem;
  }

  .game-start {
    padding: 0rem 10.25rem 0rem 10.25rem;
  }

  /* MULTI PLAYER SCORES */

  .player-one.active::before,
  .player-two.active::before,
  .player-three.active::before,
  .player-four.active::before {
    margin-top: -1.5rem;
  }

  .multiplayer-scores {
    gap: 1.875rem;
  }

  .multiplayer-scores__item {
    width: 100%;
    padding: 0.8rem 1.562rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
